$litur1-aefing6: red;
$litur2-aefing6: blue;                        
$texti-aefing6: " :Baettur texti!";   
$leturstaerd-aefing6: 18px;                          
$thunnurborder-aefing6: 1px solid $litur1;           
$padding-aefing6: 15px 15px 15px 15px; 