@media all and (min-width: 68em) {
body {
	margin: 0 auto;
	max-width: 70em;
	background: linear-gradient(#252872, #66c9ff);
	background-repeat: no-repeat;
	background-color: #66c9ff;
	font-family: 'Roboto Condensed', sans-serif;
}

ul.menu {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
	border: 3px solid #60ff88;
	border-radius: 10px;
	background-color: #730487;
	margin-left: 5px; 
	margin-top: 5px; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 22px;
}

li a:hover {
    background-color: #60ff88;
	border-radius: 10px;
    color: black;
}

header {
	margin-top: 20px;
	border: 3px solid #60ff88;
	border-radius: 10px;
	background: linear-gradient(to bottom right, #730487, #df32ff);
	color: white;
}

img.ross {
	float: left;
	margin-top: 25px;
}

h1 {
	text-align: center;
	padding: 50px;
	font-family: 'Arvo', serif;
	font-size: 36px;
	padding-right: 150px;
}

.myndir {
	border: 2px #60ff88 solid;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	background: linear-gradient(#8f0da3, #45034f);
	margin-top: 5px;
}

footer {
	border: #60ff88 solid 2px;
	border-radius: 10px;
	background: linear-gradient(#8f0da3, #45034f);
	color: white;
	margin-top: 5px;
}

h3 {
	padding-left: 30px;
}

nav.heildarnav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.kortdiv{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	border: #60ff88 solid 2px;
	padding: 15px;
	border-radius: 10px;
	animation-name: litbreyting;
    	animation-duration: 8s;
    	animation-iteration-count: infinite;
}
.kort{
	border-radius: 20px;

}
.rikkiboy1{
	height: 500px;
	width: 300px;
	padding-right: 15px;
}
.rikkiboy2{
	height: 500px;
	width: 300px;
	padding-left: 15px;

}
	

@keyframes litbreyting {
    0%   {background-color: #8f0da3;}
    25%  {background-color: #8f0da3;}
    50%  {background-color: #45034f;}
    75%  {background-color: #45034f;}
    100% {background-color: #8f0da3;}
}
}
@media all and (min-width: 37.5em) and (max-width: 68em) {
body {
	margin: 0 auto;
	max-width: 70em;
	background: linear-gradient(#252872, #66c9ff);
	background-repeat: no-repeat;
	background-color: #66c9ff;
	font-family: 'Roboto Condensed', sans-serif;
}

ul.menu {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
	border: 3px solid #60ff88;
	border-radius: 10px;
	background-color: #730487;
	margin-left: 5px; 
	margin-top: 5px; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 22px;
}

li a:hover {
    background-color: #60ff88;
	border-radius: 10px;
    color: black;
}

header {
	margin-top: 20px;
	border: 3px solid #60ff88;
	border-radius: 10px;
	background: linear-gradient(to bottom right, #730487, #df32ff);
	color: white;
}

img.ross {
	float: left;
	margin-top: 25px;
}

h1 {
	text-align: center;
	padding: 50px;
	font-family: 'Arvo', serif;
	font-size: 36px;
	padding-right: 150px;
}

.myndir {
	border: 2px #60ff88 solid;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	background: linear-gradient(#8f0da3, #45034f);
	margin-top: 5px;
}

footer {
	border: #60ff88 solid 2px;
	border-radius: 10px;
	background: linear-gradient(#8f0da3, #45034f);
	color: white;
	margin-top: 5px;
}

h3 {
	padding-left: 30px;
}

nav.heildarnav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.kortdiv{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	border: #60ff88 solid 2px;
	padding: 15px;
	border-radius: 10px;
	animation-name: litbreyting;
    	animation-duration: 8s;
    	animation-iteration-count: infinite;
}
.kort{
	border-radius: 20px;
	height: 275px;
	width: 275px;

}
.rikkiboy1{
	height: 350px;
	width: 175px;
	padding-right: 40px;
}
.rikkiboy2{
	height: 350px;
	width: 175px;
	padding-left: 40px;

}
	

@keyframes litbreyting {
    0%   {background-color: #8f0da3;}
    25%  {background-color: #8f0da3;}
    50%  {background-color: #45034f;}
    75%  {background-color: #45034f;}
    100% {background-color: #8f0da3;}
}
}
@media all and (max-width: 37.5em){
body {
	margin: 0 auto;
	max-width: 70em;
	background: linear-gradient(#252872, #66c9ff);
	background-repeat: no-repeat;
	background-color: #66c9ff;
	font-family: 'Roboto Condensed', sans-serif;
}

ul.menu {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
	border: 3px solid #60ff88;
	border-radius: 10px;
	background-color: #730487;
	margin-left: 5px; 
	margin-top: 5px; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 22px;
}

li a:hover {
    background-color: #60ff88;
	border-radius: 10px;
    color: black;
}

header {
	margin-top: 20px;
	border: 3px solid #60ff88;
	border-radius: 10px;
	background: linear-gradient(to bottom right, #730487, #df32ff);
	color: white;
}

img.ross {
	float: left;
	margin-top: 25px;
}

h1 {
	text-align: center;
	padding: 50px;
	font-family: 'Arvo', serif;
	font-size: 36px;
	padding-right: 150px;
}

.myndir {
	border: 2px #60ff88 solid;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	background: linear-gradient(#8f0da3, #45034f);
	margin-top: 5px;
}

footer {
	border: #60ff88 solid 2px;
	border-radius: 10px;
	background: linear-gradient(#8f0da3, #45034f);
	color: white;
	margin-top: 5px;
}

h3 {
	padding-left: 30px;
}

nav.heildarnav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.kortdiv{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	border: #60ff88 solid 2px;
	padding: 15px;
	border-radius: 10px;
	animation-name: litbreyting;
    	animation-duration: 8s;
    	animation-iteration-count: infinite;
}
.kort{
	border-radius: 20px;
	height: 200px;
	width: 200px;

}
.rikkiboy1{
	height: 200px;
	width: 100px;
	padding-right: 20px;
}
.rikkiboy2{
	height: 200px;
	width: 100px;
	padding-left: 20px;

}
	

@keyframes litbreyting {
    0%   {background-color: #8f0da3;}
    25%  {background-color: #8f0da3;}
    50%  {background-color: #45034f;}
    75%  {background-color: #45034f;}
    100% {background-color: #8f0da3;}
}
}